<div>
    <mat-toolbar class="navbar">
        <div class="logo">
            <div style="padding-right: 7px;"><img src="../../../assets/logo.svg" alt="i"></div>
            <span>Bookstore</span>
        </div>


        <div class="search">
            <div><mat-icon class="src-icon">search</mat-icon></div>
            <input type="text" placeholder="Search">
        </div>

        <span class="example-spacer"></span>
        <div class="nav-btn" >
            <button mat-button class="nav-icon" (click)="openProfile()">
                <div style="display: flex; flex-direction: column;">
                    <img src="../../../assets/profile.svg" alt="" height="30px" width="30px" style="margin-left: 10px;">
                    <span>Profile</span>
                </div>
            </button>
            <button mat-button class="nav-icon">
                <div style="display: flex; flex-direction: column;">
                    <img src="../../../assets/cart.svg" alt="" height="30px" width="30px">
                    <span>Cart</span>
                </div>
            </button>
        </div>
    </mat-toolbar>
</div>