<div class="book-details">
    <div class="small-image-left">
        <div class="small-image-div">
            <img src={{book[0].imgPath}}>
        </div>
        <div class="small-image-div">
            <img src={{book[0].imgPath}}>
        </div>
    </div>
    <div class="large-image-div">
        <div class="large-image">
            <img width="281px" height="367px" src={{book[0].imgPath}}>
        </div>
        <div class="buttons">
            <button mat-raised-button [routerLink]="['/cart']">ADD TO BAG</button>
            <button mat-raised-button (click)="addToWishlist()"><mat-icon>favorite</mat-icon>WISHLIST</button>
        </div>
    </div>
    <div class="right-content">
        <div class="right-content-top">
            <p style="font: normal normal normal 28px/37px Roboto;">{{book[0].bookName}}</p>
            <p style="font: normal normal normal 18px/24px Roboto; color: #878787;">by {{book[0].author}}</p>
            <div class="rating-discount">
                <div class="rating">
                    <p>4.5</p>
                    <p><mat-icon style="width: 20px;height: 20px;">star</mat-icon></p>
                </div>
                <p style="margin-top: 2%; margin-left: 2%; color: #878787;">({{book[0].quantity}})</p>
            </div>
            <div class="price">
                <p>Rs. {{book[0].discountPrice}}</p>
                <p style="text-decoration:line-through; color: #878787">Rs. {{book[0].price}}</p>
            </div>
        </div>
        <div class="right-content-center">
            <p style="color: #878787;font: normal normal normal 15px/20px Roboto;">.Book Detail</p>
            <p style="font: normal normal normal 12px/16px Roboto;color: #373434;">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </div>
        <div class="right-content-bottom">
            <p style="font: normal normal normal 18px/24px Roboto">Customer Feedback</p>
            <div class="feedback">
                <p class="overall_rating">Overall rating</p>
                <div class="stars">
                    <mat-icon *ngFor="let star of stars; let idx=index"
                    (click)="onStarClick(idx)">{{star?'star':'star_outline'}}</mat-icon>
                </div>
                <textarea placeholder="Write your review" [(ngModel)]="comment"></textarea>
                <button mat-raised-button (click)="addReview()">Submit</button>
            </div>
            <div class="reviews" *ngFor="let i of feedbacks">
                <div class="review">
                    <div class="profile_name">
                        <mat-icon>account_circle</mat-icon>
                        <p>{{i.user_id.fullName}}</p>
                    </div>
                    <div class="stars">
                        <mat-icon style="color: #FFCE00;" *ngFor="let k of getNumbers(i.rating)">star</mat-icon>
                        <mat-icon *ngFor="let j of getNumbers(5-i.rating)">star_outline</mat-icon>
                    </div>
                    <p class="desc">{{i.comment}}</p>
                </div>
            </div>
        </div>
    </div>
</div>