<mat-card class= "card">
    <div style="display: flex; justify-content: space-between;">
        <div class="order-details">
            <div>
                <img src="../../../assets/Image 11.png" alt="" style="width: 80px; height: 110px;">
            </div>
            <div>
                <p style="font-weight: 500; font-size: 18px; margin-bottom: 8px; margin-top: 5px;">Don't Make Me Think</p>
                <p style="font-size: 14px; color: #9D9D9D;">by Steve Krug</p>
                <p style="font-size: 16px; font-weight: 600;">Rs. 1500 <span
                        style="color: #9D9D9D; font-size: 11px; margin-left: 2px;"><s>Rs.2000</s></span></p>
            </div>
        </div>
        <div style="display: flex; gap: 5px;">
            <div class="dot"></div>
            <div>
                <h3 style="font-weight: 600; font-size: 16px;"> Order Placed on May 21</h3>
            </div>
        </div>
    </div>
</mat-card>