.card {
    width: 1022px;
    height: 200px;
    border-radius: 1px;
    padding: 3%;
}
.order-details {
    display: flex;
    gap: 20px;
    // align-items: center;
}
.dot {
    width: 10px;
    height: 10px;
    background-color: #26A541;
    border-radius: 50%;
    margin-top: 9px;
}