::ng-deep .navbar{
    background-color: #A03037 !important;
}
.example-spacer {
    flex: 1 1 auto;
}
.logo {
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 10%;
}

.search {
    //left: 334px;
    width: 40%;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    margin-left: 3%;
    border-radius: 3px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-left: 5px;
}

.search input{
    border: none;
    outline: none;
    width: 85%;
    height: 50%;
    //padding-left: 10px;
    font: normal normal normal 16px/20px Roboto;
    border-radius: 3px;
    letter-spacing: 0px;
    color: #000000;
    text-transform: capitalize;
    opacity: 1;
    //margin-bottom: 5px;
    margin-top: 5px;
}

.nav-btn{
    //border: 1px solid red;
    font: normal normal normal 16px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    margin-right: 10%;
}