<div class="wishlist">
    <div class="my-wishlist">
        <p>My Wishlist</p>
        <p class="p02">({{wislistLength}})</p>
    </div>
    <div class="main-content">
        <div class="wishlist-card" *ngFor="let i of wishlistItems">
            <img src="../../../assets/Image 11@2x.png">
            <div class="card-content">
                <p class="card-title">{{i.product_id.bookName}}</p>
                <p class="card-author">{{i.product_id.author}}</p>
                <div class="price">
                    <p class="card-price">Rs. {{i.product_id.price-i.product_id.discountPrice}}</p>
                    <p class="card-discount"><s>Rs. {{i.product_id.discountPrice}}</s></p>
                </div>
            </div>
            <mat-icon (click)="deleteFromWishlist(i.product_id._id)" >delete_outline</mat-icon>
        </div>
    </div>
</div>