<p style="margin-left: 18%;font-size: medium;">Home / <b>Profile</b></p>
<div class="main">
    <div style="display: flex; gap:1%">
        <p class="heading">Personal Details </p><a>Edit</a>
    </div>
    <div id="Personaldetails"> 
        <label>Full Name</label>
        <br>
        <input type="text">
        <br>
        <br>
        <label>Email Id</label>
        <br>
        <input type="text">
        <br>
        <br>
        <label>Password</label>
        <br>
        <input type="text">
        <br>
        <br>
        <label>Mobile Number</label>
        <br>
        <input type="text">
        <br>
        <br>
    </div>
    <div class="addheader">
        <p class="heading">Address</p>
        <button>Add New Address</button>
    </div>
    <div>
        <div style="display: flex; gap:3%">
            <p style="font-weight: 600;">1.Work</p>
            <a>Edit</a>
        </div>
        <div>
            <label>Address</label>
            <br>
            <input type="text"> 
            <br>
            <br>
            <div id="addressdiv">
                <div>
                    <label>City/town</label>
                    <br>
                    <input type="text">
                </div>
                <div>
                    <label>State</label>
                    <br>
                    <input type="text">
                </div>  
            </div>
            <br>
            <div class="radio">
                <div>
                    <input type="radio" id="home" name="type" value="home">
                    <label for="home">Home</label>
                </div>
                <div>
                    <input type="radio" id="work" name="type" value="work">
                    <label for="work">Work</label>
                </div>
                <div>
                    <input type="radio" id="other" name="type" value="other">
                    <label for="other">Other</label>
                </div> 
            </div>
        </div>
    </div>
</div>
