<div class="mycart-container">
    <div class="mycart">
        <div style="display: flex; justify-content: space-between;">
            <div class="mycart1"> 
                <h3 style="font-weight: 500; font-size: 18px;">My cart (1)</h3>
            </div>
            <div class="location">
                <button class="dropbtn" onclick="myFunction()">Use current location</button>
            </div>
        </div>
        <div style="display: flex; margin-left: 2%;">
            <div class="image">
                <img src="../../../assets/Image 7.png" alt="">
            </div>
            <div>
                <h4 style="font-weight: 500;">Don't Make Me Think</h4>
                <p style="font-size: 14px; color: #9D9D9D;">by Steve Krug</p>
                <p style="font-size: 14px; font-weight: 500;">Rs. 1500</p>
                <div style="display: flex; justify-content: space-between; width: 50%;">
                    <div style="display: flex; gap: 10px;">
                        <button class="btn">-</button>
                        <div class = "item"><span>1</span></div>
                        <button class="btn">+</button>
                    </div>
                    <div>
                        <div style="margin-left: 24px;font-size: 13px; font-weight: 500;">Remove</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: end; margin-right: 30px; margin-bottom: 2px;">
            <button style="background-color: #3371B5; color: white; width: 151px; height: 35px; border-radius: 2px;">Place order</button>
        </div>
    </div>
</div>