<div class="main">
    <mat-card style="width:38%;height:auto;">
        <img src="../../../assets/2766594@2x.png">
        <p style="font-size: 16px;">ONLINE BOOK SHOPPING</p>
    </mat-card>
    <mat-card class="lsbox">
        <div class="box">
            <div class="toggle">
                <div (click)="change()">
                    <p class="active">LOGIN</p>
                    <div class="line" *ngIf="flag==='login'"></div>
                </div>
                <div (click)="change()">
                    <p class="active">SIGNUP</p>
                    <div class="line" *ngIf="flag==='signup'"></div>
                </div>   
            </div>
            <div class="loginform" *ngIf="flag==='login'">
                <form [formGroup]="loginForm" >
                    <div class="form">
                        <mat-form-field>
                            <label>Email Id</label>
                            <br>
                            <input formControlName="email" type="text" >
                        </mat-form-field>
                        <mat-form-field>
                            <label>Password</label>
                            <br>
                            <input formControlName="password" type="password">
                        </mat-form-field>
                        <p style="font-size: 14px;font-weight: 400;color: grey;margin-right: 4%;text-align: end;">Forgot Password?</p>
                        <br>
                    </div>
                    <button class="submit" type="submit" (click)="login()"[disabled]="!loginForm.valid">Login</button>
                    <br>
                </form>
                <br>
                <div>
                    <div></div>
                    <p class="active">OR</p>
                    <div></div>
                </div>
                <div class="buttons">
                    <button id="Facebook">Facebook</button>
                    <button id="Google">Google</button>
                </div>
            </div>
            <div class="signupForm" *ngIf="flag==='signup'" >
                <form [formGroup]="signupForm" >
                    <div class="form">
                    <mat-form-field>
                        <label>Full Name</label>
                        <br>
                        <input formControlName="fullName" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <label>Email Id</label>
                        <br>
                        <input formControlName="email" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <label>Password</label>
                        <br>
                        <input formControlName="password" type="password">
                    </mat-form-field>
                    <mat-form-field>
                        <label>Mobile Number</label>
                        <br>
                        <input formControlName="phone" type="text">
                    </mat-form-field>
                    <br>
                    </div>
                    <button class="submit" type="submit" (click)="signup()" [disabled]="!signupForm.valid" >Signup</button>
                </form>
            </div>
        </div>
    </mat-card>
</div>
