.main{
    margin-top: 2%;
    margin-left: 15%;
    width:34%;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
input{
    width: 98%;
    height:40px;
    color: #878787;
    background-color: #F5F5F5;
    border:2px solid #E2E2E2;
    outline: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 15px;
}
// #Personaldetails{
    
// }
.addheader{
    display:flex;
    justify-content: space-between;
}
.heading{
        font-size: 24px;
        color:#0A0102;   
        font-weight: 500;
}
a{
    font-weight: 500;
    color:#A03037;
}
button{
    color: #A03037;
    border: 2px solid #A03037;
    border-radius: 3px;
}
#addressdiv{
    display: flex;
    justify-content: space-between;
    gap:7%;
    width: 100%;
    div{
        input{
            width:97%;
            background-color: #F5F5F5;
        }
    } 
}
.radio{
    width: 70%;
    display: flex;
    justify-content: space-between;
    input{
       width:17px; 
       color: #A03037;
    }
}
@media only screen and (max-width: 500px) {
    .heading{
        font-size: 15px;
        color:#0A0102;   
        font-weight: 500;
    }
    .main{
        margin-top: 2%;
        margin-left: 10%;
        width:80%;
        font-weight: 500;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:800px) and (min-width: 500px) {
    .heading{
        font-size: 15px;
        color:#0A0102;   
        font-weight: 500;
    }
    .main{
        margin-top: 2%;
        margin-left: 15%;
        width:50%;
        font-weight: 500;
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
}