.sort {
    text-align: end !important;
    margin-right: 12%;
    margin-top: 2%;
}

::ng-deep .mdc-text-field--filled {
    border: 1px solid #E2E2E2 !important;
    border-radius: 3px;
    background-color: #ffffff !important;
}

.bookcard {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

.book {
    height: auto;
    width: 22.5%;
    margin: 1%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    opacity: 1;
}
@media screen and (max-width : 715px) {
    .book{
        width: 30%;
    }
    .pagination{
        margin-left: 32% !important;
    }
    .sort{
        margin-right: 20%;
    }
}
@media screen and (max-width : 524px) {
    .book{
        width: 45%;
    }
    .pagination{
        margin-left: 25% !important;
    }
    .sort{
        margin-right: 15%;
    }
}
.book:hover {
    box-shadow: 2px 2px 2px 2px #E2E2E2;
}

.book_image {
    background-color: #F5F5F5;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    position: relative;
}

img {
    width: auto;
    height: 135px;
}

.book_details {
    padding-left: 20px;
}

.book_title {
    margin-bottom: 0px;
    //margin-top: 5px;
}

.grey {
    color: #878787;
}

.book_rating {
    display: flex;
    color: #ffffff !important;
    background-color: #388E3C;
    width: 30px;
    height: 16px;
    padding: 2px 4px;
    margin-right: 5px;

}

.offer {
    font-weight: 300 !important;
    text-decoration: line-through;
    margin-left: 5px !important;
}

.book_title {
    font: normal normal bold 14px/19px Roboto;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    margin-top: 5px;
}

.book_author {
    font: normal normal normal 12px/16px Roboto;
}

.originalPrice {
    display: flex;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: black;
    opacity: 1;
}

.outofstock {
    z-index: 10;
    position: absolute;
    top: 70%;
    left: 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2px;
    opacity: 0.96;
    padding: 10px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-left: 3%;
    width: 53%;
    font-weight: bolder;
}

//pagination
.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40%;
}

.navinagtionBtn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    opacity: 1;
}

.page {
    font: normal normal medium 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    margin-right: 10px;
    margin-left: 10px;
    //border: 1px solid red;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.SelectedPage {
    background-color: #A03037;
    color: white;

}
